.dashboard-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  // For the navigation bar
  padding-top: 75px;
}

.stored-data {
  display: flex;
  justify-content: flex-end;
  padding: 10px 2%;
}

